<div class="login-wrapper d-flex align-items-center justify-content-center">
  <div class="container">
    <div class="bg-white d-flex flex-column shadow-lg w-md-800p mx-auto p-5 rounded-4">
      <div class="text-center">
        <h1>We've Got You.</h1>
        <p class="lead text-muted">It happens to the best of us. Let's get you back to learning.</p>
      </div>
      
      <form id="forgotPasswordForm" class="mt-4">
        <div class="mb-4">
          <label for="email">Email Address</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email address" required>
          <div class="form-text text-muted">We'll send password reset instructions to this email.</div>
        </div>
        
        <div class="mb-4">
          <button type="submit" class="btn btn-teal w-100">SEND RESET LINK</button>
        </div>
        
        <div class="text-center">
          <p class="small">Remember your password? <a href="/" class="text-gator-accent"><strong>BACK TO SIGN IN</strong></a>.</p>
        </div>
      </form>
    </div>
    
    <p class="d-flex justify-content-center align-items-end text-white mt-5">
      <strong>&copy; 2025 Study Swamp. All rights reserved. Crafted with <span class="fa-solid fa-heart fa-lg px-2"></span> by The Swamp Squad.</strong>
    </p>
  </div>
</div>