<div class="bg-login">
  <div class="container">
    <div class="bg-white d-flex align-items-center justify-content-center flex-column box-shadow">
      <h1 class="text-center">Login</h1>
      <form action="">
        <div class="mb-3">
          <label for=""></label>
          <input type="text" id="" name="">
        </div>
        <div class="mb-3">
          <label for=""></label>
          <input type="password" id="" name="">
        </div>
        <div class="mb-3">
          <input type="submit" value="LOGIN" class="btn">
        </div>
      </form>
    </div>
  </div>
</div>