<nav class="bg-black w-xs-80p align-items-start p-3 d-flex flex-column justify-content-between">
  <div class="nav-container">
    <a href="/" class="nav-logo text-white" data-page="dashboard"><img src="../images/study-swamp-logo.png" alt="Study Swamp Logo" class="img-fluid"></a>
    <ul class="list-unstyled mt-4">
      <li><a href="/dashboard" class="nav-link text-white" data-page="dashboard" aria-label="Dashboard" title="Go to my dashboard"><span class="fa-solid fa-lg fa-gauge-high"></span></a></li>
    </ul>
  </div>
  <ul class="list-unstyled d-flex align-items-center justify-content-center flex-column align-self-center">
    <li><a href="/profile" class="d-block" data-page="profile" title="Go to your profile"><img src="../images/gator-icon.avif" alt="Gator graphic" class="img-fluid"></a></li>
    <li class="mt-4"><button class="btn btn-transparent logout-btn w-xs-20p justify-content-center d-flex" title="Logout"><span class="fa-solid fa-lg fa-arrow-right-from-bracket text-white"></span></button></li>
  </ul>
</nav>