#app {
  display: flex;
  background: url('../images/uf_abstract_background.svg') center center no-repeat;
  background-size: cover;
  height: 100vh;
  .inner-wrapper {
    width: 100%;
    padding: 1.5rem;
    overflow-y: auto;
  }
  a {
    font-weight: 600;
    font-size: .85rem;
  }
  .pointer {
    cursor: pointer;
  }
}