<div class="inner-wrapper">
  <div class="mx-auto mw-md-730p text-center">
    <h1 class="text-white">Study Groups</h1>
    <p class="text-white mt-4 fw-500 fs-18p">Connect with classmates, share knowledge, and excel together in your academic journey. Join study groups to collaborate on assignments, prepare for exams, and build lasting friendships.</p>
    
    <div id="dashboard-groups-container" class="row">
      <!-- Study group cards will be inserted here -->
    </div>
    
    <!-- Empty State Card (shown when no groups) -->
    <div class="bg-white text-center p-5 rounded-4 w-xs-500p mx-auto mt-5 d-none" id="empty-state-card">
      <span class="fa-solid fa-users fa-2x text-teal"></span>
      <h2 class="mt-4">No Study Groups Yet</h2>
      <p class="mt-4">You haven't joined any study groups yet. Start collaborating with your classmates by joining or creating a study group. It's a great way to enhance your learning experience and build connections!</p>
      <a href="" class="btn btn-violet mt-4">
        <span class="fas fa-plus me-2"></span>
        Find Study Groups
      </a>
    </div>
    
    <template id="dashboard-groups-template">
      <div class="col-md-4 col-sm-6 mt-5">
        <div class="card mb-3 h-100">
          <div class="card-body text-start d-flex flex-column">
            <h3 class="h5 groups-title"></h3>
            <p class="groups-description"></p>
            <a href="" class="small mt-auto">VIEW GROUP</a>
          </div>
        </div>
      </div>
    </div>
  </template>
</div>